body {
    margin: 0px;
    opacity : 0;
}

* {
    font-family: 'Roboto', sans-serif;
}


.content-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    gap: 2px;
}

.content-wrapper img,
.temperature,
.temp-scale {
    grid-row: 1 / 4;
}

.visibility,
.humidity,
.wind {
    margin-left : 10px;
}


.temp-scale button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: auto;
    color: gray;
    font-size: 1.2rem;
}

.temp-scale {
    align-self: start;
}

.temperature {
    font-size: 3.5rem;
    margin-left: 10px;
}

.temp-scale button.selected {
    user-select: text;
    cursor: text;
    color: black;
}

form {
    margin-top: 20px;
    display: flex;
    align-items: stretch;
}

form input {
    padding: 5px;
    font-size: 1.1rem;
    outline : none;
}

label {
    margin-right: 10px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

form button {
    background-color: #24A9ED;
    color: white;
    font-size: 1.1rem;
    border: none;
}

form button:hover {
    background-color: #0c8ccc;
}

.city-name {
    font-size: 3rem;
    margin-top: 10px;
}

.wrapper {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.overlay {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color : rgba(202, 203, 164, 0.6);*/
    /*   background: rgb(2,0,36);
    background : linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(183,207,219,0.21614583333333337) 0%, rgba(0,212,255,0.7035407913165266) 100%);
    background-color : rgba(217, 219, 183, 0.6); 
*/
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(217, 219, 183, 0.5998993347338936) 0%, rgba(217, 219, 183, 0.9528405112044818) 100%);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch {
    position: absolute;
    left: auto;
    right: 30px;
    top: 40px;
    bottom: 0;
}

.checkbox-label {
    position: relative;
    right: 225px;
    top: 8px;
    font-size: 1.3rem;
    width: 250px;
}

.description {
    margin : 0;
    font-weight : normal;
}

.city-name {
    margin-bottom : 5px;
}

.weather-img {
    object-fit :cover;
    height : 75px;
}